table#chess-board {
    border: 1px solid beige;
    border-collapse: collapse;
    text-align: center;
}

table#chess-board td {
    border: 1px solid lightgray;
    box-sizing: border-box;
}

td.board-cell {
    width: 50px;
    height: 50px;
    font-size: 34px;
}

td.black-cell {
    background-color: lightgray;
}

td.reverse-look {
    transform: rotate(180deg);
}

table#chess-board td.side-column {
    width: 30px;
    background-color: lemonchiffon;
    border: none;
}

table#chess-board td.side-row {
    height: 30px;
    background-color: lemonchiffon;
    border: none;
}

div#figure-capture {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    font-size: 40px;
    background-color: transparent;
    border-left: 1px solid black;
    border-top: 1px solid black;
    z-index: 9999;
}