@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

body, div, header, section, main, aside, footer,
p, h1, h2, h3, form, fieldset, input, label {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-weight: inherit;
    color: #2a2a2a;
    background-color: transparent;
    border: none;
    outline: none;
    box-sizing: border-box;
}

a {
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    background-color: transparent;
    text-decoration: none;
    border: none;
    outline: none;
}

body {
    background-color: #f0f0f0;
}

header {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.3rem;
}

main {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

aside {
    width: 330px;
    flex-grow: 0;
    padding-left: 20px;
    padding-right: 20px;
}

section#game-board {
    flex-grow: 1;
}

label {
    margin-bottom: 5px;
    font-size: 0.85em;
    padding-left: 0.4em;
    padding-right: 0.4em;
}

input[type="number"] {
    margin-bottom: 14px;
    width: 100%;
    font-size: 1em;
    background-color: #fff;
    border-radius: 0.3em;
    border: 2px solid #e0e0e0;
    padding: 0.2em;
}

input[type="number"]:focus {
    border: 2px solid skyblue;
}

input[type="submit"], input[type="button"] {
    font-size: 1em;
    text-transform: uppercase;
    padding: 0.6em 1em;
    color: #fff;
    background-color: royalblue;
    border-radius: 0.4em;
    border-width: 3px;
    border-style: solid;
    margin-left: 3px;
    margin-right: 3px;
}

input[type="submit"]:hover, input[type="button"]:hover {
    border-style: outset;
}

input[type="submit"]:active, input[type="button"]:active {
    border-style: inset;
}

input[type="checkbox"] {
    margin-left: 10px;
    margin-bottom: 5px;
}

div.input-checkbox {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row-reverse nowrap;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 15px;
}

div.button-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

div#game-field {
    margin: 0 auto;
    background-color: #fff;
    border: 4px groove #f0f0f0;
    box-sizing: content-box;
    overflow: hidden;
    width: 150px;
    height: 150px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.snake-body {
    background-color: green;
}

.snake-fault {
    background-color: violet;
}

.snake-dead {
    background-color: darkolivegreen;
}

.yummi-food {
    background-color: goldenrod;
}

.edible-food {
    background-color: gold;
}

.block-post {
    background-color: black;
}

span.game-legend {
    display: inline-block;
    margin: 0;
    margin-bottom: -0.15em;
    padding: 0;
    width: 0.8em;
    height: 0.8em;
    border: 1px solid #ebebeb;
}

div#field-veil {
    position: absolute;
    display: block;
    height: 0;
    width: 0;
    top: 0;
    left: 0;
    z-index: 99999;
    background-color: rgba(0, 0, 0, 0.3);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

div#field-veil.paused {
    background-image: url("pause.png");
}

div#field-veil.stopped {
    background-image: url("stop.png");
}

div#field-veil.gameover {
    background-image: url("gameover.png");
}